{% extends 'base.html' %}

{% block content %}
    <h1>Connexion</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} <br>
            {{ form.username(size=20) }}
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.password.label }} <br>
            {{ form.password(size=20) }}
            {% for error in form.username.errors %}
                <span class="error">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <p>Vous n'avez pas de compte ? <a href="{{ url_for('signup') }}">S'inscrire</a></p>
{% endblock %}