{% extends 'base.html' %}

{% block content %}
    <h1>S'inscrire</h1>
    <form method="POST" action="{{ url_for('signup') }}">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" name="username" id="username" required>
        <label for="password">Mot de passe :</label>
        <input type="password" name="password" id="password" required>
        <button type="submit">S'inscrire</button>
    </form>
    <p>Vous avez déjà un compte ? <a href="{{ url_for('login') }}">Se connecter</a></p>
{% endblock %}